/* General Styles */
.signin-body {
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
}

.signin-card {
  width: 900px;
  max-width: 100%;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(6, 255, 31, 0.2);
  display: flex;
}

.signin-left {
  background-color: #218838;
  color: #ffffff;
  width: 45%;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.signin-image {
  max-width: 80%;
  margin-bottom: 1rem;
}

.signin-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.signin-form {
  margin-top: 2rem;
}

.signin-text {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.signin-right {
  width: 55%;
  background-color: #ffffff;
}

.signin-form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28a745;
}

.signin-form-subtitle {
  color: #6c757d;
  margin-bottom: 1rem;
}

.signin-label {
  font-weight: 600;
  color: #495057;
}

.signin-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.signin-input:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.signin-btn {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 5rem;
}

.signin-btn:hover {
  background-color: #218838;
  color: #ffffff;
}

.signin-footer-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.signin-link {
  color: #28a745;
  font-weight: bold;
  text-decoration: none;
}

.signin-link:hover {
  color: #218838;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .signin-card {
    flex-direction: column;
  }

  .signin-left {
    display: none !important;
  }

  .signin-right {
    width: 100%;
  }

  .signin-card {
    width: 100%;
  }
}
