/* General Styles */
.suggestidea-body {
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
  padding: 20px 0;
}

.suggestidea-card {
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #ffffff;
}

.suggestidea-header {
  background-color: #28a745;
  color: white;
  padding: 1.5rem;
}

.suggestidea-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.suggestidea-label {
  font-weight: bold;
  color: #495057;
}

.suggestidea-input,
.suggestidea-textarea {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.75rem;
}

.suggestidea-input:focus,
.suggestidea-textarea:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.25);
}

.suggestidea-textarea {
  resize: none;
}

.suggestidea-btn-submit {
  background-color: #28a745;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.suggestidea-btn-submit:hover {
  background-color: #218838;
  color: white;
}

@media only screen and (max-width: 768px) {
  .suggestidea-card {
    width: 100%;
  }
}
